<!doctype html>
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'home/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" ></script>
        <script src="{{ STATIC_URL }}ajaxuploader/js/fileuploader.js" ></script>
        <link href="{{ STATIC_URL }}ajaxuploader/css/fileuploader.css" media="screen" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{% static 'home/font-awesome/css/font-awesome.min.css' %}">
        <script>
            $(function(){
            var uploader = new qq.FileUploader({
                action: "/assignment/ajax-upload",
                element: $('#file-uploader')[0],
                multiple: false,
                onComplete: function(id, fileName, responseJSON) {
                    if(responseJSON.success) {
                        alert("Success!");
                    } else {
                        alert("Upload failed!");
                    }
                },
                onAllComplete: function(uploads) {
                    // uploads is an array of maps
                    // the maps look like this: {file: FileObject, response: JSONServerResponse}
                    alert("Upload complete!");
                },
                params: {
                    'csrf_token': '{{ csrf_token }}',
                    'csrf_name': 'csrfmiddlewaretoken',
                    'csrf_xname': 'X-CSRFToken',
                },
            });
            });
            $(function(){
            var uploader = new qq.FileUploader({
                action: "/assignment/ajax-upload",
                element: $('#file-uploader2')[0],
                multiple: false,
                onComplete: function(id, fileName, responseJSON) {
                    if(responseJSON.success) {
                        alert("Success!");
                    } else {
                        alert("Upload failed!");
                    }
                },
                onAllComplete: function(uploads) {
                    // uploads is an array of maps
                    // the maps look like this: {file: FileObject, response: JSONServerResponse}
                    alert("Upload complete!");
                },
                params: {
                    'csrf_token': '{{ csrf_token }}',
                    'csrf_name': 'csrfmiddlewaretoken',
                    'csrf_xname': 'X-CSRFToken',
                },
            });
            });
            $(function(){
            var uploader = new qq.FileUploader({
                action: "/assignment/ajax-upload",
                element: $('#file-uploader3')[0],
                multiple: false,
                onComplete: function(id, fileName, responseJSON) {
                    if(responseJSON.success) {
                        alert("Success!");
                    } else {
                        alert("Upload failed!");
                    }
                },
                onAllComplete: function(uploads) {
                    // uploads is an array of maps
                    // the maps look like this: {file: FileObject, response: JSONServerResponse}
                    alert("Upload complete!");
                },
                params: {
                    'csrf_token': '{{ csrf_token }}',
                    'csrf_name': 'csrfmiddlewaretoken',
                    'csrf_xname': 'X-CSRFToken',
                },
            });
            });
            $(function(){
            var uploader = new qq.FileUploader({
                action: "/assignment/ajax-upload",
                element: $('#file-uploader4')[0],
                multiple: false,
                onComplete: function(id, fileName, responseJSON) {
                    if(responseJSON.success) {
                        alert("Success!");
                    } else {
                        alert("Upload failed!");
                    }
                },
                onAllComplete: function(uploads) {
                    // uploads is an array of maps
                    // the maps look like this: {file: FileObject, response: JSONServerResponse}
                    alert("Upload complete!");
                },
                params: {
                    'csrf_token': '{{ csrf_token }}',
                    'csrf_name': 'csrfmiddlewaretoken',
                    'csrf_xname': 'X-CSRFToken',
                },
            });
            });
        </script>
    </head>
<body>
    <div class="container">
        <!-- <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Main</a></li>
            <li role="presentation"><a href="#">Submit Assignment</a></li>
            <li role="presentation"><a href="#">Documentation</a></li>
        </ul> -->
        <div class="pagetab"> <!-- tabs go here -->
            <li><a href="../">Home</a></li>
            <li><a href="./">Start Assignment</a></li>
            <li><a href="./">Documentation</a></li>
        </div>

    <div class="col-md-12">
        <h2><b>Reviewer Assignment Uploader</b></h2>
    </div>

    <div class="col-md-12">
    <p>
        There are 3 files that we need for the reviewer assignment:
        <li> Papers information <code>.csv</code> file where columns contain <code>PaperID, Title, Abstract, PersonID list</code>. Recommended delimiter for the csv file are <code>,</code> or <code>\t</code>. Example of the csv file is showed below.
        <li> PersonID and Fullname <code>.csv</code> file which has two columns contain <code>PersonID, FullName</code> as shown in example below. This file will be used to match <code>PersonID</code> with their full name in other files.
        <li> Reviewers Abstract <code>.csv</code> which has two columns: <code>PersonID, Abstract</code>.
    </p>
        
    </div>

    <div class="col-md-12">
    <p>
    <h3>Paper information</h3>
    <div id="file-uploader" class="qq-upload-list">
        <noscript>
            <p>Please enable JavaScript to use file uploader.</p>
        </noscript>
    </div>
    <h3>People</h3>
    <div id="file-uploader2" class="qq-upload-list"> 
        <noscript>         
            <p>Please enable JavaScript to use file uploader.</p>
        </noscript>    
    </div>
    <h3>Reviewers</h3>
    <div id="file-uploader3" class="qq-upload-list"> 
        <noscript>        
            <p>Please enable JavaScript to use file uploader.</p>
        </noscript>
    </div>
    <h3>Conflict of Interest/COI (optional)</h3>
    <div id="file-uploader4" class="qq-upload-list">
        <noscript>
            <p>Please enable JavaScript to use file uploader.</p>
        </noscript>
    </div>
    </p>
    </div>


    <div class="col-md-12">
        <p>
        <h2><b>Select Constraints</b></h2>
        Select number of:
        <li> Maximum of papers per reviewers
        <li> Minimum of papars per reviewers
        <li> Maximum of reviewers per article
        <li> Minimum of reviewers per article
        </p>
    </div>

    <p>
    <center>
    <a class="btn btn-primary btn-lg" href="" role="button"> <i class="fa fa-play"></i> Start Matching</a> <br>
    </center>
    </p>

    <div class="col-md-12">
    <h2><b>Result</b></h2>
    <p>Result are shown below. You can download <code>.csv</code> file here. If you are not satisfied the result, you can add conflict of interest (COI) file or rerun the .</p>
    </div>



</body>
</html>
