{% extends "base.html" %}
{% load django_tables2 %}

{% block content %}
<div class="col-md-12">
<script>
/*$(document).ready(function(){
  var last_percent = -1
  var progresspump = setInterval(function(){
    $.get("{% url 'celery-task_status' task_id %}", function(data){
      //var result_progress = jQuery.parseJSON(data)

      if (data.task.status == "PROGRESS") {
        if (data.task.progress_percent != last_percent) {
            /* update the progress bar width */
            $("#progress").css('width',data.task.result.progress_percent+'%');

           /* and display the numeric value */
           $("#progress").html('<i class="fa fa-circle-o-notch fa-spin"></i> ' + data.task.result.progress_percent + '%');
           last_percent = data.task.progress_percent;
        }
      }

      if (data.task.status == "SUCCESS") {
        window.location.href = "{%url 'result' task_id%}";
      }
    })
  }, 1000);});*/
</script>

<h2><b>Solving the assignment problem</b></h2>
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" id="progress" role="progressbar"
             aria-valuenow="0"
             aria-valuemin="0"
             aria-valuemax="100"
             style="width: 0%;">
            <i class="fa fa-circle-o-notch fa-spin"></i> 0%
        </div>
    </div>
</div>
<div class="col-md-12">
    <a class="btn btn-warning" href="{%url 'review_assign_index' %}">Start over</a>
</div>
{% endblock %}
