<!doctype html>
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'home/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" ></script>
        <script src="{{ STATIC_URL }}ajaxuploader/js/fileuploader.js" ></script>
        <link href="{{ STATIC_URL }}ajaxuploader/css/fileuploader.css" media="screen" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{% static 'home/font-awesome/css/font-awesome.min.css' %}">
    </head>

    <body>
    <div class="container">
        <!-- <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Main</a></li>
            <li role="presentation"><a href="#">Submit Assignment</a></li>
            <li role="presentation"><a href="#">Documentation</a></li>
        </ul> -->
        <div class="pagetab"> <!-- tabs go here -->
            <li><a href="../">Home</a></li>
            <li><a href="./">Start Assignment</a></li>
            <li><a href="./">Documentation</a></li>
        </div>

    <div class="col-md-12">
        <h2><b>Select Constraints</b></h2>
    </div>

    <div class="col-md-12">
    <p>
    Select number of 
    <li> Maximum of papers per reviewers
    <li> Minimum of papars per reviewers
    <li> Maximum of reviewers per article
    <li> Minimum of reviewers per article
    </p>
    </div>

    <p>
    <center>
    <a class="btn btn-primary btn-lg" href="" role="button"> <i class="fa fa-play"></i> Start Matching</a> <br>
    </center>
    </p>


    </div>

    </body>
