{% extends "base.html" %}
{% block page_title %}Documentation{% endblock %}
{% block content %}
<div class="col-md-12">
    <h2><b>Documentation</b></h2>
</div>

<div class="col-md-12">

    <p>This website implements a reviewer-article assignment method based on topic models.
        In this way, the assignment only depends on the article's abstracts and sample abstracts from potential reviewer.
        This different from other methods that require either authors suggesting reviewers or reviewers bidding for
        articles to review.
    </p>
    <p>Once the reviewer's score for each article are in, we have an estimator of the paper's score. This estimator
        controls for the discrepancies in variance and mean score of reviewers --- reviewers' scores that are
        systematically too harsh or too soft will be moved to the mean.
    </p>
    <p>
        If you have any questions, please do not hesitate to ask
        <a href="https://github.com/titipata">Titipat Achakulvisut</a> or other members of the team.
    </p>

    <!--<p>You can read the specific documentation of each of the systems here</p>-->
    <!--<ul>-->
    <!--<li><a href="{% url 'review_assign.views.docs' %}">Reviewer Assignment Docs</a></li>-->
    <!--<li><a href="{% url 'review_scoring.views.docs' %}">Reviewer Scoring Docs</a></li>-->
    <!--</ul>-->

</div>


{% endblock %}
