<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'home/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
<html>
<head>
    <title>Reviewer Assignment</title>
</head>

<body>
    

    <div class="container">
        <!-- <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Main</a></li>
            <li role="presentation"><a href="#">Submit Assignment</a></li>
            <li role="presentation"><a href="#">Documentation</a></li>
        </ul> -->
        <div class="pagetab"> <!-- tabs go here -->
            <li><a href="./">Main</a></li>
            <li><a href="">Submit Assignment</a></li>
            <li><a href="">Documentation</a></li>
        </div>

    <div class="col-md-12">
        <h2>Automatic Reviewer Assignment</h2>
    </div>
    
    <div class="col-md-12">
        <h3>About</h3>
        <p>
            Website for automatic reviewer assignment. We apply text based analysis to match submitted candidate and reviewers in conference. This developed technique has been used in COSYNE 2015 (see this link) and the feedback was great. 
        </p>
        
        <p>
            Click button below to start automatic reviewer assignment
        </p>
    </div>

    <div class="col-md-12 submit-button"><center>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Submit Assignment</a></p>
    </center></div>

    <div class="col-md-12">
        <h3>Usage</h3>
        <p>
            Click the button above to start the process. You can submit <code>.csv</code> file that contain columns as follows. 
        </p>
        
        <p>
            Software are publicly available on Github and : https://github.com/daniel-acuna/reviewer_assignment
        </p>
    </div>
    
    <div class="col-md-12">
        <h3> Member </h3>
        <p>
            Contact: Daniel Acuna, Titipat Achakulvisut<br>
            Kording Lab RM 1479<br>
            Rehabilitation Institute of Chicago<br>
            Northwestern University<br>
            Tweeter: https://twitter.com/KordingLab<br>
            Lab website: http://klab.smpp.northwestern.edu/wiki/index.php5/Main_Page<br>
            Github: https://github.com/daniel-acuna/reviewer_assignment<br>
        </p>
    </div>
</body>


</html>
