{% extends "base.html" %}
{% block content %}
<div class="col-md-12">
    <h2><b>Automatic Reviewer Assignment</b></h2>
</div>

<div class="col-md-12">
  <h3><b>About</b></h3>
    <p>Website for automatic reviewer assignment. We apply text based analysis to match submitted articles to reviewers.
    </p>
    <p>Click button below to start the automatic reviewer assignment!
    </p>
</div>

<div class="col-md-6 col-md-offset-3 asmt_btt_grp">
    <a class="btn btn-primary btn-lg btn-block asmt_btt" href="{% url 'review_assign_index' %}" role="button">Start Assignment</a>
    <a id="asmt_ps" href="#">Do you have the reviewers' scores and want to estimate the score of each article?</a>
</div>

<div class="col-md-12">
<h3><b>Usage</b></h3>
    <p>Click the button above to start the process. You can submit the <code>.csv</code> files that contain the following information.</p>
</div>
{% endblock %}
