<!DOCTYPE html>
<html>

  <head>
      {% load staticfiles %}
      <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
      <link rel="stylesheet" href="{% static 'home/font-awesome/css/font-awesome.min.css' %}">
      <title>{% block page_title %}{% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53191307-2', 'auto');
  ga('send', 'pageview');

  </script>
  <body>
 <div class="wrapper">

   <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <!-- <div class="container"> -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'home.views.index' %}">Reviewer assignment and article scoring</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav pull-right">
                <!--<li class="active"><a href="{% url 'home.views.index' %}">Home</a></li>-->
                <li><a href="{% url 'review_assign_index' %}">Make assignment</a></li>
                <li><a href="{% url 'review_scoring_index' %}">Score articles</a></li>
                <li><a href="{% url 'home.views.docs' %}">Documentation</a></li>
                <li><a href="{% url 'home.views.about' %}">About</a></li>
              </ul>
            </div>
          <!-- </div> -->
        </nav>
      </div>
    </div>

    <div class="container">
    {% block content %} {% endblock %}
     <!-- FOOTER -->
          <!--<footer>-->
            <!--<p class="pull-right"><a href="#">Back to top</a></p>-->
            <!--<p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>-->
          <!--</footer>-->
    </div>
    <div class="pusher"></div>
  </div>


  <div class="container">
    <footer class="footer text-center">
      <!--<div class="container">-->
        <p>
        <i class="fa fa-user"></i> <b>Members</b> Daniel Acuna, Titipat Achakulvisut, Tulakan Ruangrong, Konrad Kording<br>
        <i class="fa fa-location-arrow"></i> <b>Location</b> Kording Lab, 345 E Superior St RM 1479<br>
        Rehabilitation Institute of Chicago<br>
        Northwestern University<br>
        <i class="fa fa-twitter"></i> <b>Twitter</b> <a href="https://twitter.com/KordingLab">@KordingLab</a> <br>
        <i class="fa fa-university"></i> <b>Lab Website</b> <a href="http://klab.smpp.northwestern.edu/wiki/index.php5/Main_Page">Bayesian Behavior Lab</a> <br>
        <i class="fa fa-github-alt"></i> <b>Github</b>  <a href="https://github.com/daniel-acuna/reviewer_assignment">daniel-acuna/reviewer_assignment</a> <br>
        </p>
      <!--</div>        -->
    </footer>
  </div>
  </body>
</html>
