<!DOCTYPE html>
<html>

  <head>
      {% load staticfiles %}
      <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
      <link rel="stylesheet" href="{% static 'home/font-awesome/css/font-awesome.min.css' %}">
  </head>
  <body>
    <div class="container">
      <div class="pagetab"> <!-- tabs go here -->
          <li><a href="{% url 'home.views.index' %}">Home</a></li>
          <li><a href="{% url 'review_assign_index' %}">Start Assignment</a></li>
          <li><a href="#">Documentation</a></li>
      </div>
      {% block content %} {% endblock %}

      <footer class="footer">
        <div class="container">

          <p>
          <i class="fa fa-user"></i> <b>Members</b> Daniel Acuna, Titipat Achakulvisut, Tulakan Ruangrong, Konrad Kording<br>
          <i class="fa fa-location-arrow"></i> <b>Location</b> Kording Lab, 345 E Superior St RM 1479<br>
          Rehabilitation Institute of Chicago<br>
          Northwestern University<br>
          <i class="fa fa-twitter"></i> <b>Tweeter</b> <a href="https://twitter.com/KordingLab">@KordingLab</a> <br>
          <i class="fa fa-university"></i> <b>Lab website</b> <a href="http://klab.smpp.northwestern.edu/wiki/index.php5/Main_Page">Bayesian Behavior Lab</a> <br>
          <i class="fa fa-github-alt"></i> <b>Github</b>  <a href="https://github.com/daniel-acuna/reviewer_assignment">daniel-acuna/reviewer_assignment</a> <br>
          </p>
        </div>

      </footer>
    </div>

  </body>
</html>