{% extends "base.html" %}
{% block page_title %}Solving...{% endblock %}
{% block content %}
<div class="col-md-12">
<script>
$(document).ready(function(){
  var progresspump = setInterval(function(){
    $.get("{% url 'celery-task_status' task_id %}", function(data){
      if (data.task.status == "PROGRESS") {
        /* update the progress bar width */
        $("#progress").css('width',data.task.result.progress_percent+'%');
        /* and display the numeric value */
        $("#text_percent").html(Math.round(data.task.result.progress_percent) + '%');
      }
      if (data.task.status == "SUCCESS") {
            window.clearInterval(progresspump);
            window.location.replace("{%url result_view task_id%}");
      }
      if (data.task.status == "FAILURE") {
        /* update the progress bar width */
        $("#progress").css('width',0+'%');

        /* and display the numeric value */
        $("#text_percent").html();
        $("#button_reset").html('Failure: ' + data.task.result);
        $("#button_reset.btn-warning").toggleClass('btn-danger');
        window.clearInterval(progresspump);
      }
    })
  }, 1000);});
</script>

<h2><b>{{progress_title}}</b></h2>
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" id="progress" role="progressbar"
             aria-valuenow="0"
             aria-valuemin="0"
             aria-valuemax="100"
             style="min-width: 4em; width: 0%;">
            <i class="fa fa-circle-o-notch fa-spin"></i> <span id="text_percent"> 0% </span>
        </div>
    </div>
</div>
<div class="col-md-12">
    <a class="btn btn-warning" href="{%url 'cancel_task' task_id start_over_view %}" id="button_reset">Start over</a>
</div>
{% endblock %}
